@charset "utf-8";
/* CSS Document */
body{
font-family:'abel',sans-serif;
font-size:93%;
background-color:#fff;
padding:0px;
margin:0px;
color:#555;
}

.menu{
display:flex;
justify-content:center;,
align-items:center;
background-color:#000;
width:100%;
min-height:35px;
position:fixed;
}

.nav{
width:75%;
display:flex;
justify-content:space-around;
align-items:center;
}

.menu a{
color:#fff;
transition: all ease-in 0.05s;
}
.menu a:hover{
text-decoration:none;
color:#666666;
}



.icerik{
padding-top:50px;
padding-left:100px;
padding-right:100px;
}

.slider {
	border-bottom: 1px #555 solid;
	border-top: 1px #555 solid;
	height:75px;
	margin-top:30px;
}

.ana-sayfa-icerik {
	display:flex;
	flex-direction:row;
	justify-content : space-around;
	gap:77px;
	margin-top:33px;
	border-bottom:solid 1px #555;
	padding-bottom:33px;
}

